<h1>Categoria: Telefone</h1>

<% @exibir.each do |pm| %>
  <div>
    <p><%= pm["brand"]%></p>
    <p><%= pm["product_model"]%></p>
    <p><%= image_tag pm["image_url"], class:"img" %></p>
  </div>
<hr>
<% end %>