<h1> Resultado da Busca:  <%= @query %> </h1>
<hr/>
<% if @insurances.empty? %>
  <p>Nenhuma Seguradora encontrada</p>
<% end %>
<% @insurances.each do |insurance| %>
  <div>
    <dl>
      <dt> Seguradora:</dt>
      <dd><%= link_to insurance.insurance_name, insurance_path(insurance.id) %></dd>
      <dt> Tipo de Pacote:</dt>
      <dd><%= insurance.packages %></dd>
      <dt> Valor da Contratação por 12 meses: </dt>
      <dd> <%= number_to_currency(insurance.price) %></dd>
    </dl>
  </div>
<% end %>
