<% if @insurance.present? %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nome da Seguradora: <%= @insurance[0].insurance_name %></li>
    <li class="list-group-item">Tipo de Pacote: <%= @insurance[0].packages %></li>
    <li class="list-group-item">Modelo do Produto: <%= @insurance[0].product_model %></li>
    <li class="list-group-item">Valor de Contratação para 12 meses: R$ <%= @insurance[0].price %>,00 </li>
  </ul>
<% end %>
