 <h1> Nome da Seguradora: <%= @insurance["insurance_name"] %> <h1>

<p> Tipo de Pacote: <%= @insurance["packages"] %> </p>
<p> Modelo do Produto: <%= @insurance["product_model"] %> </p>
<p> Valor de Contratação para 12 meses: R$ <%= @insurance["price"] %>,00 </p>