<% if @insurance.present? %>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Nome da Seguradora: <%= @insurance.insurance_name %></li>
        <li class="list-group-item">Tipo de Pacote: <%= @insurance["packages"] %></li>
        <li class="list-group-item">Modelo do Produto: <%= @insurance["product_model"] %></li>
        <li class="list-group-item">Valor de Contratação para 12 meses: R$ <%= @insurance["price"] %>,00 </li>
    </ul>
<% end %>
